/*Generales*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.negrita {
  font-weight: 600; }

/*FOOTER*/
#design {
  font-size: 14px;
  margin-bottom: 5px; }

/*ICONOS*/
.social {
  position: fixed;
  width: 60px;
  height: 60px;
  right: 40px;
  border-radius: 50px;
  z-index: 100;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center; }

.whatsapp {
  background-image: url("../Imagenes/Iconos/whatsapp-blanco.svg");
  background-color: #25d366;
  bottom: 40px; }

.whatsapp:hover {
  background-image: url("../Imagenes/Iconos/whatsapp-negro.svg"); }

.instagram {
  bottom: 110px;
  background-image: url("../Imagenes/Iconos/instagram-blanco.svg");
  background-color: #8134AF; }

.instagram:hover {
  background-image: url("../Imagenes/Iconos/instagram-negro.svg"); }

/*HEADER*/
.ocultar-pantalla {
  visibility: hidden; }

.ocultar-telefono {
  visibility: visible; }

.alinear-texto-derecha {
  text-align: left; }

.bg-azul {
  background-color: #3E8DDD; }

#botones-menu {
  color: #28292B;
  font-weight: 600; }

#botones-menu:hover {
  color: #3E8DDD; }

#botones-submenu {
  color: rgba(255, 255, 255, 0.842);
  font-weight: 600; }

#botones-submenu:hover {
  color: #3E8DDD; }

#bg-submenu {
  background-color: #5f7085;
  font-weight: 600;
  color: white; }

#boton-cotizar {
  background-color: #3E8DDD;
  font-weight: 600; }

#boton-cotizar:hover {
  background-color: #85C7F7; }

.dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: 10%;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #5f7085;
  border-left: 6px solid transparent;
  content: ''; }

#propiedades-logo-completo {
  height: 50px;
  margin-left: 24px; }

#propiedades-logo {
  height: 50px;
  margin-left: 24px;
  display: none; }

/*INDEX*/
.alturaFuncionamiento {
  padding: 0.5% 0 0.5% 0; }

.bg-gris {
  background-color: #dbdada; }

.pt-100 {
  padding-top: 100px; }

.altura-100 {
  min-height: 100vh; }

.imagen-carousel {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  overflow: hidden;
  height: 100vh;
  width: auto;
  animation: zoom-foto 7s infinite ease-in-out;
  animation-delay: 1s; }

@keyframes zoom-foto {
  from {
    transform: scale(1, 1); }
  to {
    transform: scale(1.15, 1.15); } }

.imagen-carousel-1 {
  background-image: url("../Imagenes/HOME-PAGE.jpg"); }

.imagen-carousel-2 {
  background-image: url("../Imagenes/HOME-PAGE-2.jpg"); }

.imagen-carousel-3 {
  background-image: url("../Imagenes/HOME-PAGE-3.jpg"); }

.imagen-carousel-4 {
  background-image: url("../Imagenes/HOME-PAGE-4.jpg"); }

.oscuridad-carousel {
  background-color: white;
  opacity: 1; }

.padding-titulo {
  padding-bottom: auto;
  font-size: auto; }

.padding-subtitulo {
  padding-bottom: auto;
  font-size: auto; }

#texto-alineado {
  text-align: left; }

.imagen-usos {
  overflow: hidden;
  width: 245.5px;
  height: 199.2px; }

.boton-index {
  width: 100%; }

.boton-cotizar {
  background-color: #3E8DDD;
  width: 100%;
  color: white; }

.boton-cotizar:hover {
  background-color: #85C7F7; }

.tamano-icon {
  height: 50px;
  width: auto; }

/*CATALOGO*/
.imagen-catalogo {
  overflow: hidden;
  width: auto;
  height: 225px;
  align-items: center;
  justify-content: center; }

/*PORTADAS*/
.altura-portada {
  position: relative;
  width: 100%;
  height: 35vw;
  margin-top: 50px;
  padding-top: 150px;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  overflow: hidden; }

.altura-portada__materiales {
  background-image: url("../Imagenes/Portadas/PortadaMateriales.jpg"); }

.altura-portada__calidad {
  background-image: url("../Imagenes/Portadas/PortadaCalidad.jpg"); }

.altura-portada__contacto {
  background-image: url("../Imagenes/Portadas/PortadaContacto-1800px.jpg");
  background-position: 75% 75%; }

.altura-portada__catalogo {
  background-image: url("../Imagenes/Portadas/PortadaCatalogo-1800px.png"); }

.altura-portada__infill {
  background-image: url("../Imagenes/Portadas/PortadaInfill-1800px.jpg"); }

svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5vw; }

.titulo-portada {
  font-size: 70px;
  color: transparent;
  font-family: 'Montserrat', sans-serif;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white; }

.subtitulo-portada {
  font-size: 20px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; }

.oscuridad-portada:after {
  content: ' ';
  background-color: black;
  opacity: 0.6;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%; }

/*MATERIALES*/
.imagen-material {
  width: auto; }

.overlay {
  position: absolute;
  top: 16px;
  bottom: 51px;
  left: 16px;
  right: 16px;
  border-radius: 4px;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(255, 255, 255, 0.5); }

.imagen-material:hover .overlay {
  opacity: 1; }

.text {
  color: black;
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center; }

/*IMPRESION*/
ul {
  padding-inline-start: 0px !important; }

.explicacion {
  width: 100%; }

.explicacion-infill {
  background-image: url("../Imagenes/Infill/Explicacion.svg");
  height: 0;
  padding-top: 53.7%;
  background-size: cover; }

.alturaDeCapa {
  width: 100%; }

.alturaDeCapa-imagen {
  background-image: url("../Imagenes/Infill/Layer-1800px.jpg");
  height: 0;
  padding-top: 53.7%;
  background-size: cover; }

/*ERROR 404*/
.bg-error {
  background-color: #089FDE; }

.altura-error {
  height: 100vh;
  margin: auto auto; }

.imagen-error {
  height: 80vh; }

.contenedor-error {
  position: relative;
  color: white; }

.titulo-error {
  font-size: 90px; }

.texto-error {
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px; }

.pie-error {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px; }

.advertencia-error {
  font-size: 24px; }

/* MEDIA QUERIES*/
@media (max-width: 768px) {
  .pt-100 {
    padding-top: 200px; }
  #texto-alineado {
    text-align: left; }
  .imagen-carousel {
    height: 100vh;
    width: auto;
    overflow: hidden; }
  .imagen-usos {
    overflow: hidden;
    width: 350px;
    height: 284px; } }

@media (min-width: 768px) {
  .padding-titulo {
    padding-bottom: 5%;
    font-size: 35pt; }
  .padding-subtitulo {
    padding-bottom: 5%;
    font-size: 20pt; }
  .imagen-usos {
    overflow: hidden;
    width: 350px;
    height: 284px; } }

@media (max-width: 576px) {
  /*HEADER*/
  .ocultar-pantalla {
    visibility: visible; }
  .ocultar-telefono {
    display: none; }
  .alinear-texto-derecha {
    text-align: right;
    padding-right: 5%; }
  #bg-submenu {
    background-color: #fff;
    font-weight: 600;
    color: white;
    border-color: #5f7085; }
  #botones-submenu {
    color: #28292B;
    font-weight: 600; }
  #botones-submenu:hover {
    color: #3E8DDD; }
  #propiedades-logo-completo {
    display: none; }
  #propiedades-logo {
    margin-left: 0;
    display: inline; }
  .dropdown-menu:after {
    border-bottom: 6px solid transparent; }
  /*ICONOS*/
  .social {
    width: 50px;
    height: 50px;
    right: 20px;
    opacity: 0.8; }
  .whatsapp {
    bottom: 20px; }
  .instagram {
    bottom: 80px; }
  .tamano-icon {
    display: none; }
  /*PORTADA*/
  .altura-portada {
    height: 80vw; }
  .titulo-portada {
    font-size: 30px;
    color: transparent;
    font-family: 'Montserrat', sans-serif;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
    justify-content: center; }
  .subtitulo-portada {
    font-size: 12px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    visibility: hidden; }
  .pie-portada {
    font-size: 14px; }
  .altura-portada__catalogo {
    background-image: url("../Imagenes/Portadas/PortadaCatalogo-576px.png");
    background-position: 50% 50%; }
  .altura-portada__infill {
    background-image: url("../Imagenes/Portadas/PortadaInfill-576px.jpg");
    background-position: 50% 50%; }
  /*INDEX*/
  .oscuridad-carousel {
    background-color: black;
    opacity: 0.3; }
  #texto-alineado {
    text-align: center; }
  /*IMPRESION*/
  .explicacion-infill {
    background-image: url("../Imagenes/Infill/Explicacion-576px.svg");
    height: 0;
    padding-top: 74.6%;
    background-size: cover; }
  .alturaDeCapa-imagen {
    background-image: url("../Imagenes/Infill/Layer-576px.jpg"); }
  /*404*/
  .altura-error {
    height: 80vh;
    margin: 20vh auto 0; }
  .imagen-error {
    width: 100%;
    height: auto;
    overflow: hidden;
    align-items: center; }
  .titulo-error {
    font-size: 60px; }
  .texto-error {
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px; }
  .pie-error {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8px; }
  .advertencia-error {
    font-size: 16px; }
  /*COTIZAR*/
  #buscador {
    text-align: left; } }

@media (min-width: 576px) and (max-width: 992px) {
  /*404*/
  .imagen-error {
    height: 60vh; }
  /*LOGO*/
  #propiedades-logo-completo {
    display: none; }
  #propiedades-logo {
    display: inline; }
  /*INDEX*/
  .padding-titulo {
    font-size: 50pt; }
  .padding-subtitulo {
    font-size: 20pt; }
  #texto-alineado {
    text-align: center;
    padding-bottom: 0 !important; }
  .oscuridad-carousel {
    background-color: black;
    opacity: 0.3; }
  .carousel-caption {
    padding-bottom: 25%; }
  /*ICONOS*/
  .tamano-icon {
    display: none; }
  /*PORTADA*/
  .altura-portada {
    position: relative;
    width: 100%;
    height: 50vw;
    margin-top: 50px;
    padding-top: 150px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    overflow: hidden; }
  .titulo-portada {
    font-size: 60px;
    color: transparent;
    font-family: 'Montserrat', sans-serif;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
    justify-content: center; }
  .subtitulo-portada {
    font-size: 14px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400; }
  .altura-portada__catalogo {
    background-image: url("../Imagenes/Portadas/PortadaCatalogo-992px.png");
    background-position: 50% 50%; }
  .altura-portada__infill {
    background-image: url("../Imagenes/Portadas/PortadaInfill-992px.jpg");
    background-position: 50% 50%; }
  /*IMPRESION*/
  .alturaDeCapa-imagen {
    background-image: url("../Imagenes/Infill/Layer-992px.jpg"); } }

@media (min-width: 1200px) {
  /*INDEX*/
  .imagen-usos {
    overflow: hidden;
    width: 245.5px;
    height: 199.2px; }
  /*IMPRESION*/
  .tamano-imagen-infill {
    width: 200px; } }

@media (max-width: 1380px) {
  /*MATERIALES*/
  .margenes-infill {
    margin: auto 15%; } }

@media (min-width: 1500px) {
  /*HEADER*/
  #propiedades-logo-completo {
    margin-left: 230px; }
  .ocultar-telefono {
    margin-right: 230px !important; }
  /*INDEX*/
  .padding-titulo {
    padding-bottom: 5%;
    font-size: 50pt; }
  .padding-subtitulo {
    padding-bottom: 5%;
    font-size: 25pt; } }

@media (min-width: 1801px) {
  .altura-portada__contacto {
    background-image: url("../Imagenes/Portadas/PortadaContacto-2000px.jpg");
    background-position: 75% 75%; } }
