/*Generales*/
$azul: #089FDE;

/*HEADER*/
.ocultar-pantalla {
    visibility: hidden;
}

.ocultar-telefono {
    visibility: visible;
}

.alinear-texto-derecha {
    text-align: left;
}

.bg-azul {
    background-color: #3E8DDD;
}

#botones-menu {
    color:#28292B;
    font-weight: 600;
}

#botones-menu:hover {
    color: #3E8DDD;
}

#botones-submenu {
    color:rgba(255, 255, 255, 0.842);
    font-weight: 600;
}

#botones-submenu:hover {
    color: #3E8DDD;
}


#bg-submenu {
    background-color:#5f7085;
    font-weight: 600;
    color: white;
}

#boton-cotizar {
    background-color: #3E8DDD;
    font-weight: 600;
}

#boton-cotizar:hover {
    background-color: #85C7F7;
}

.dropdown-menu:after {
    position: absolute;
    top: -6px;
    left: 10%;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #5f7085;
    border-left: 6px solid transparent;
    content: '';
}

#achicar-logo {
    width: 150px;
}

/*INDEX*/
.alturaCarrousel {
    height: 100vh;
    overflow: hidden;
}

.alturaFuncionamiento {
    padding: 0.5% 0 0.5% 0;
}

.bg-gris {
    background-color: rgb(219, 218, 218);
}

.pt-100 {
    padding-top: 100px;
}

.altura-100 {
    min-height: 100vh;
}

#posicion-carousel{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    height: auto;
}

.oscuridad-carousel {
    background-color: rgb(255, 255, 255);
}

.padding-titulo {
    padding-bottom: auto;
    font-size: auto;
}

.padding-subtitulo {
    padding-bottom: auto;
    font-size: auto;
}

#texto-alineado {
    text-align: left;
}

.imagen-usos {
    overflow: hidden;
    width: 245.5px;
    height: 199.2px;
}

.boton-index {
    width: 100%;
}

.boton-cotizar {
    background-color: #3E8DDD;
    width: 100%;
    color: white;
}

.boton-cotizar:hover {
    background-color: #85C7F7;
}

/*CATALOGO*/
.imagen-catalogo {
    overflow: hidden;
    width: auto;
    height: 225px;
    align-items: center;
    justify-content: center;
}

/*MATERIALES*/
.altura-portada {
    position: relative;
    width: 100%;
    height: 35vw;
    margin-top: 150px;
    padding-top: 150px;
    background-image: url("Imagenes/Materiales/Portada2.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5vw;
}

.imagen-material {
    width: auto;
}

.overlay {
    position: absolute;
    top: 16px;
    bottom: 51px;
    left: 16px;
    right: 16px;
    border-radius: 4px;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(255, 255, 255, 0.5);
}
  
.imagen-material:hover .overlay {
    opacity: 1;
}
  
.text {
    color: black;
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/*ERROR 404*/
.bg-error {
    background-color: $azul;
}

.altura-error {
    height: 100vh;
    margin: auto auto;
}

.imagen-error {
    height: 80vh;
}

.contenedor-error {
    position: relative;
    color: white;
  }

.titulo-error {
    font-size: 90px;
}

.texto-error {
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

.pie-error {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
}

.advertencia-error {
    font-size: 24px;
}


/* MEDIA QUERIES*/
@media (max-width:768px) {
    .pt-100 {
        padding-top: 200px;
    }
    #texto-alineado {
        text-align: center;
    }
    #posicion-carousel{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
        height: 100vh;
        width: auto;
    }
    .imagen-usos {
        overflow: hidden;
        width: 350px;
        height: 284px;
    }
}

@media (min-width:768px) {
    .padding-titulo {
        padding-bottom: 5%;
        font-size: 35pt;
    }
    .padding-subtitulo {
        padding-bottom: 5%;
        font-size: 20pt;
    }
    .imagen-usos {
        overflow: hidden;
        width: 350px;
        height: 284px;
    }
}

@media (max-width:576px) {
    /*HEADER*/
    .ocultar-pantalla {
        visibility: visible;
    }
    
    .ocultar-telefono {
        display: none;
    }

    .alinear-texto-derecha {
        text-align: right;
        padding-right: 5%;
    }

    #bg-submenu {
        background-color:#fff;
        font-weight: 600;
        color: white;
        border-color: #5f7085;
    }

    #botones-submenu {
        color:#28292B;
        font-weight: 600;
    }

    #botones-submenu:hover {
        color: #3E8DDD;
    }

    #achicar-logo {
        width: 100px;
    }

    .dropdown-menu:after {
        border-bottom: 6px solid transparent;
    }

    /*INDEX*/
    .oscuridad-carousel {
        background-color: rgb(0, 0, 0);
        opacity: 0.5;
    }

    /*404*/
    .altura-error {
        height: 80vh;
        margin: 20vh auto 0;
    }
    .imagen-error {
        width: 100%;
        height: auto;
        overflow: hidden;
        align-items: center;
    }
    .titulo-error {
        font-size: 60px;
    }
    
    .texto-error {
        position: absolute;
        top: 13%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 10px;
    }
    
    .pie-error {
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 8px;
    }
    
    .advertencia-error {
        font-size: 16px;
    }
    
}

@media (min-width:576px) and (max-width:992px) {
    .imagen-error {
        height: 60vh;
    }
}

@media (min-width:1200px) {
    .imagen-usos {
        overflow: hidden;
        width: 245.5px;
        height: 199.2px;
    }
}

@media (min-width:1500px) {
    .padding-titulo {
        padding-bottom: 5%;
        font-size: 50pt;
    }
    .padding-subtitulo {
        padding-bottom: 5%;
        font-size: 25pt;
    }
}
